@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    line-height: 1.4;
}

a {
    text-decoration: none;
}

p {
    margin: 0.75rem 0;
}


/* Utility Classes */

.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}

.text-center {
    text-align: center;
}

.text-primary {
    color: #93cb52;
}

.bg-light {
    background: #f4f4f4;
    color: #333;
}

.bg-dark {
    background: #333;
    color: #fff;
}

.bg-primary {
    background: pink;
    color: #fff;
}

.l-heading {
    text-decoration: underline;
    font-weight: bolder;
    font-style: italic;
    font-size: 45px;
    margin-bottom: 0.75rem;
    line-height: 1.1;
    color: black;
}

.m-heading {
    font-size: 2rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}

.lead {
    font-size: 2rem;
    margin-bottom: 2rem;
    font-style: italic;
    color: black;
}

.py-1 {
    padding: 1.5rem 0;
}

.py-2 {
    padding: 2rem 0;
}

.py-3 {
    padding: 3rem 0;
}

.p-1 {
    padding: 1.5rem;
}

.p-2 {
    padding: 2rem;
}

.p-3 {
    padding: 3rem;
}

.btn {
    display: inline-block;
    color: #fff;
    background: #93cb52;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    background: #2b4d05;
}

.btn-dark {
    background: #333;
    color: #fff;
}

.list {
    margin: 0.5rem 0;
    list-style: none;
}

.list li {
    padding: 0.5rem 0;
    border-bottom: #444 dotted 1px;
}


/* Navbar */

#navbar {
    display: flex;
    position: sticky;
    top: 0;
    background: black;
    color: #fff;
    justify-content: space-between;
    z-index: 1;
    padding: 1rem;
}

#navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}

#navbar ul li a {
    color: #fff;
    padding: 0.75rem;
    margin: 0 0.25rem;
}

#navbar ul li a:hover {
    background: pink;
    border-radius: 5px;
}


/* Showcase */

#showcase {
    background: whitesmoke url("../img/Bhavika\ Bday\ collage.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 88vh;
}


/* Section: What We Do */

#what .items {
    display: flex;
    padding: 1rem;
}

#what .items .item {
    flex: 1;
    text-align: center;
    padding: 1rem;
}

#what .items .item i {
    background: #93cb52;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}


/* Section: Who We Are */

#who {
    display: flex;
}

#who div {
    flex: 1;
}

#who .who-img {
    background: url("../img/funky_collage.jpeg") no-repeat center center/cover;
}


/* Section: Clients */

#clients .items {
    display: flex;
}

#clients .items img {
    display: block;
    margin: auto;
    width: 60%;
}


/* Section: Contact */

#contact {
    display: flex;
}

#contact .map,
#contact .contact-form {
    flex: 1;
}

#contact .contact-form .form-group {
    margin: 0.75rem;
}

#contact .contact-form label {
    display: block;
}

#contact .contact-form input,
#contact .contact-form textarea {
    width: 100%;
    padding: 0.5rem;
}

.dropdown {
    border: #93cb52;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropbtn {
    border: #2b4d05;
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 27px;
    width: 250px;
    padding-top: 4px;
    margin-right: 75px;
}

.dropdown-content a {
    float: none;
    color: rgb(247, 243, 243);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
    width: 250px;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery__item--2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery__item--3 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
}

.my-img {
    height: 10%;
    width: 10%;
}

.row {
    display: flex;
    justify-content: space-between;
}

.column {
    align-items: center;
}

.center {
    text-align: center;
}

.grid-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.grid-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.img-circular {
    position: relative;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
    padding: 5px;
    border: 1px solid rgb(255, 62, 0);
}

.shadow-box {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.myslides {
    display: block;
}

.main-img {
    height: 450px;
    width: 500px;
    position: relative;
}

.img-fluid {
    padding: 10px;
    height: 300px;
    width: 300px;
}

.secondary-body {
    position: relative;
    width: 1200px;
    margin-left: 8%;
}

.header-home {
    padding: -100px;
    width: 100%;
    height: 500px;
    color: black;
    z-index: 2;
    background-color: rgb(246, 247, 249);
}

.btn-1 {
    height: 35px;
    width: 100px;
    font-size: 12px;
    background-color: rgb(255, 62, 0);
    color: white;
    border-radius: 5px;
    box-shadow: none;
}

.btn-2 {
    height: 45px;
    width: 140px;
    font-size: 12px;
    background-color: white;
    color: rgb(255, 62, 0);
    border-radius: 5px;
    border-color: rgb(255, 62, 0);
    box-shadow: none;
}

.current {
    color: rgb(255, 62, 0);
    text-decoration: underline;
}

.topnav-right {
    float: right;
    margin-right: 100px;
}

a {
    color: black;
    padding: 10px;
    font-size: 15px;
}

.center-body {
    position: relative;
    height: 500px;
    width: 1200px;
    margin-left: 8%;
    display: flex;
    justify-content: center;
}

.container2 {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
}

.main-body {
    position: absolute;
    top: 10px;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 800px;
    width: 1200px;
    display: flex;
}

.secondary-body {
    position: relative;
    width: 1200px;
    margin-left: 8%;
}

.main-img {
    height: 450px;
    width: 500px;
    position: relative;
}

.row {
    display: flex;
    justify-content: space-between;
}

.column {
    align-items: center;
}

.center {
    text-align: center;
}

.grid-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.grid-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.img-circular {
    position: relative;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
    padding: 5px;
    border: 1px solid rgb(255, 62, 0);
}

.shadow-box {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.myslides {
    display: block;
}

.img-fluid-1 {
    padding: 10px;
    height: 400px;
    width: 400px;
}

.img-fluid-2 {
    padding: 10px;
    height: 400px;
    width: 400px;
}

.img-fluid-3 {
    padding: 10px;
    height: 800px;
    width: 600px;
}

.img-fluid-4 {
    padding: 10px;
    height: 400px;
    width: 400px;
}

.img-fluid-5 {
    padding: 10px;
    height: 400px;
    width: 400px;
}

.song-btn {
    border: 3px solid pink;
    background-color: white;
    border-radius: 30px;
    color: black;
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
}